@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700&family=Urbanist:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text-col: #040a10;
      --background-col: #e6f0f9;
      --primary-col: #26b4e3;
      --secondary-col: #c1daf0;
      --accent-col: #2d75b9;
      --shadow-col: #00000040;
    }
    .dark {
      --text-col: #eff5fb;
      --background-col: #061019;
      --primary-col: #1caad9;
      --secondary-col: #0f283e;
      --accent-col: #468fd2;
      --shadow-col: #26B4E340;
    }
}
  